<mat-card>
  <mat-card-title>
    
    <div class="col flex justify-content-end flex-wrap">
      <button mat-raised-button color="primary" (click)="addProduct()">
        Add Product
      </button>
    </div>
  </mat-card-title>

  <div class="containers">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Product Category</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="subcategory">
        <th mat-header-cell *matHeaderCellDef>Product SubCategory</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Product Price</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>


      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Product DisCount</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>

      <ng-container matColumnDef="fprice">
        <th mat-header-cell *matHeaderCellDef>Final Price</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</mat-card>
