.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .label
  {
    display: block;
    font-size: 16px;
    background: #f2f2f2;
    padding: 4px 8px;
    font-weight: 600;
    
    margin-bottom: 5px;
  }
  .result-filed
  {
    display: block;
    font-size: 16px;
    padding-left: 8px;
    padding-bottom: 10px;
    line-height: 125%;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

  .page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px!important;
}

// .card {
//   margin-bottom: 24px;
//   box-shadow: 0 0.75rem 1.5rem #12263f08;
// }
.overflow-hidden {
  overflow: hidden!important;
}


.bg-primary.bg-soft {
  background-color: #556ee640!important;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

.p-3 {
  padding: 1rem!important;
}
.container
{
background-color: #f8f9fc;
width: 100%;
overflow-x: hidden;
}

.card-body {
  padding: 0px 25px;
}