.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .label
  {
    display: block;
    font-size: 16px;
    background: #f2f2f2;
    padding: 4px 8px;
    font-weight: 600;
    
    margin-bottom: 5px;
  }
  .result-filed
  {
    display: block;
    font-size: 16px;
    padding-left: 8px;
    padding-bottom: 10px;
    line-height: 125%;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }