.container
{
    margin-top: 20px;
}
.mat-form-field {
    display: block;
  }
  .container-sm
  {
    margin-top: 10%;
    padding: 20px;
  }
  .header
  {
   padding-top: 40px;
    margin-top: 40px;
  }