<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <mat-nav-list>
      <h2 matSubheader class="mt-2">EverExpanse</h2>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/category">
        <mat-icon>category</mat-icon> Category
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/admin/product">
        <mat-icon>home</mat-icon> Product
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="example-toolbar" fxLayout="column">
      <mat-toolbar-row>
        <h1>TIME-SHEET</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <!-- <mat-icon style="margin-right: 2px;">notifications</mat-icon> -->
        </button>
        <button mat-stroked-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
          (click)="menuTrigger.openMenu()">
          <mat-icon style="margin-right: 5px;">account_circle</mat-icon> {{userName.firstName}}
            {{userName.lastName}}
        </button>
        <span class="fill-remaining-space">
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <span (mouseleave)="menuTrigger.closeMenu()">
              <button mat-menu-item>
                <mat-icon>account_box</mat-icon>
                <span>My Profile</span>
              </button>
              <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
              </button>
            </span>
          </mat-menu>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
