<mat-card class="container-sm">
  <mat-card-title>
    <span>
      <mat-icon class="mat-icons" (click)="back()">keyboard_backspace</mat-icon
      ><span class="header">Add Product</span>
    </span>
  </mat-card-title>
  <form [formGroup]="addProductForm">
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="legacy">
          <mat-label>Product Name</mat-label>
          <input
            matInput
            placeholder="Product Name"
            formControlName="productName"
          />
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-error
            *ngIf="addProductForm.controls['productName']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productName'];
                hasError: 'required'">
              Please enter product name</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="legacy">
          <mat-label>Product Company</mat-label>
          <input matInput  placeholder="Product Company"
          formControlName="productCompany" />
          <mat-icon matSuffix>business</mat-icon>
          <mat-error
            *ngIf="addProductForm.controls['productCompany']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productCompany'];
                hasError: 'required'">
              Please enter product Company</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="legacy">
          <mat-label>Product Discount(%)</mat-label>
          <input matInput  placeholder="product Discount"
          formControlName="productDiscount"
          ><span></span>
          <mat-icon matSuffix>%</mat-icon>
          <mat-error
            *ngIf="addProductForm.controls['productDiscount']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productDiscount'];
                hasError: 'required'">
              Please enter product Discount </span
            >
          </mat-error>
        </mat-form-field>
       
      </div>
      <div class="col-4">
        <mat-form-field appearance="legacy">
          <mat-label>Product Price</mat-label>
          <input matInput  placeholder="Product Price"
          formControlName="productPrice" />
          <mat-icon matSuffix>₹</mat-icon>
          <mat-error
            *ngIf="addProductForm.controls['productPrice']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productPrice'];
                hasError: 'required'">
              Please enter product Price</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="legacy">
            <mat-label>Select Categories</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Grocery</mat-option>
              <mat-option value="option2">Dairy Product</mat-option>
              <mat-option value="option3">Packaged Food</mat-option>
              <mat-option value="option1">Home & kitchen</mat-option>
              <mat-option value="option2">Personal Care</mat-option>
              <mat-option value="option3">Baby & Kids</mat-option>
            </mat-select>
          <mat-error
            *ngIf="addProductForm.controls['productName']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productName'];
                hasError: 'required'">
              Please enter product name</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="legacy">
          <!-- <mat-form-field appearance="fill"> -->
            <mat-label>Select Sub Categories</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Grocery</mat-option>
              <mat-option value="option2">Dairy Product</mat-option>
              <mat-option value="option3">Packaged Food</mat-option>
              <mat-option value="option1">Home & kitchen</mat-option>
              <mat-option value="option2">Personal Care</mat-option>
              <mat-option value="option3">Baby & Kids</mat-option>
            </mat-select>
          <mat-error
            *ngIf="addProductForm.controls['productName']; hasError: 'error'"
          >
            <span
              *ngIf="
                addProductForm.controls['productName'];
                hasError: 'required'">
              Please enter product name</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="row justify-content-end">
    <div class="col-2">
      <button mat-raised-button color="warn">Cancel</button>&nbsp;
      <button [disabled]="addProductForm.invalid" mat-raised-button color="primary">Save</button>
    </div>
  </div>
</mat-card>
